body {
	background-color : #276e8a;
	background-image : url(../images/fond.jpg);
	background-repeat :repeat-x;
	font-family : Arial;
}

#header {
	width : 900px;
	margin : auto;
	padding-bottom : 8px;
}

#banniere {
	margin : auto;
	width : 900px;
	height : 150px;
	min-height : 50px;
	margin-bottom :15px;
	color : grey;
	border : none;    
	-moz-box-shadow : 1px 1px 12px #555;   
	-webkit-box-shadow : 1px 1px 12px #555;
	-moz-border-radius : 5px;
	box-shadow : 1px 1px 12px #555; 
	/* pour IE */
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#666666, Direction=135, Strength=3); 
	zoom: 1;
	font-family : Arial;
	background-image : url(../images/bannière2.jpg);
}

#titre {
	width : 600px;
	height : 50px;
	margin-left : 40px;
	padding-top : 20px;
}

#auteur {
	width : 600px;
	height : 30px;
	margin-left : 80px;
}

#menu {
	padding-left : 10px;
	margin : auto;
	width : 98%;
	height:30px;
    font-weight : bold; /* on met le texte en gras */
    font-family : Arial; /* on utilise Arial, c'est plus beau ^^ */
    font-size : 12px; /* hauteur du texte : 12 pixels */
}

#menu ul {
	padding : 0; /* pas de marge intérieure */
    margin : 0; /* ni extérieure */
    list-style : none; /* on supprime le style par défaut de la liste */
    line-height : 30px; /* on définit une hauteur pour chaque élément */
    text-align : center; /* on centre le texte qui se trouve dans la liste */
}


#menu a { /* Contenu des listes */
	display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
    padding-left : 47px; /* aucune marge intérieure */
	padding-right : 47px;
    background-image : url(../images/bouton-menu.png);
    color : #666666; /* couleur du texte */
    text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
    width : 80px; /* largeur */
}

#menu li { /* éléments des listes */      
    float : left; 
    /* pour IE qui ne reconnait pas "transparent" */
    border-right : 1px solid #fff; /* on met une bordure blanche à droite de chaque élément */
}

#menu a:hover  {/* Lorsque la souris passe sur un des liens */    
    color: #276e8a; /* On passe le texte en noir... */
    background-image: url(../images/bouton-menu2.png); /* ... et au contraire, le fond en blanc */
}

#conteneur_general {
	margin-top:15px;
	margin-right : auto;
	margin-left : auto;
	width : 900px;
}

#conteneur_principal, #conteneur_droite {
	float:left;
	width:650px;
}

#conteneur_gauche {
	float:left;
	width:250px;
}

#conteneur_identification, #conteneur_panier {
	margin-left:auto;
	width:230px;
	margin-bottom:20px;
}

#conteneur_pub {
	margin-left:auto;
	width:230px;
	height:440px;
	background-image : url(../images/pub.jpg);
	background-repeat : no-repeat;
}

.conteneur {
	background-image:url(../images/container2.png);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	border: none;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	-moz-box-shadow: 1px 1px 12px #555;   
	-webkit-box-shadow: 1px 1px 12px #555;  
	box-shadow: 1px 1px 12px #555;
	-moz-border-radius: 5px;	
   filter:progid:DXImageTransform.Microsoft.Shadow(color=#666666, Direction=135, Strength=3);
}

.titre, .titre2 {
    position: relative;
	top:-10px;
    left: 10px;
    width:100%;
    height:30px;
}

.titre h2 {
    font-family: 'Anton', Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #EEE;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px black;
    letter-spacing: 0.05em;
}

.titre2 h2 {
    font-family: 'Anton', Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #EEE;
    text-shadow: 1px 1px 5px black;
    letter-spacing: 0.03em;
}

h2 {
	display: block;
	font-size: 1.5em;
	margin-top:0px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

#footer{
	margin-right : auto;
	margin-left : auto;
	width : 900px;
	min-height : 30px;
	margin-top : 10px;
	border: none; 
	text-align:center;
	-moz-box-shadow: 1px 1px 12px #555;   
	-webkit-box-shadow: 1px 1px 12px #555;  
	box-shadow: 1px 1px 12px #555;
	-moz-border-radius: 15px;	
	/* pour IE */

   filter:progid:DXImageTransform.Microsoft.Shadow(color=#666666, Direction=135, Strength=3); 

   zoom: 1;
   overflow: auto;
}

#footer_texte {
	padding-top : 10px;
	margin : auto;
	font-family : Calibri;
	font-size : 12px;
}

.blank{   
    font-size:0px;
    clear:both;
    line-height:0px;
}

#pass_js,#nom_js,#numFilm_js , #numFilm1_js , #numFilm2_js , #numFilm3_js , #numExemplaire_js ,#message_js {
	margin-left:15px;
	color:	#FF0000;
	font-size:12px;
}

#titre_rech {
	color:#666666;
	margin-left:10px;
}

#formIdentification {
	margin-left:15px;
}

#bouton_id {
	margin-left:100px;
	margin-top:5px;
}

.bouton {
	display: block;
	height: 25px; 
	background-image : url(../images/bouton-menu.png);
}

.label_id {
	display: block;
	width: 80px;
	float: left;
}

#contenu_panier {
	width:90%;
	margin:auto;
}

#option_panier {
	width:90%;
	margin:auto;
}

#option_panier_gauche {
	float:left;
	width:50%;
	font-size:10px;
}

#slides {
    height:220px;
    width:650px;
    float:left;
	margin-bottom:20px;
}

.slides_container {
	width:650px;
	display:none;
}

.slides_container div {
	width:650px;
	height:220px;
    display:block;
}

#liste_film {
	margin:auto;
	width:94%;;
}

#bloc_film {
	width:100%;
	height:120px;
}

#bloc_film_image {
	float:left;
	width:110px;
	height:120px;
}

#bloc_film_descriptif {
	float:left;
	display:block;
	height:120px;
	width:60%;
}
#bloc_film_selection {
	float:left;
	display:block;
	height:120px;
	width:120px;
}

#bloc_film_selection_ajout {
	margin-top:45px;
}

#bloc_film_descriptif h4 {
	margin-top:0px;
	margin-bottom:5px;
	font-style:italic;
	color:#6589D6;
}

#descriptif_film {
	width:100%;
	height:400px;
}

#descriptif_film_image {
	margin-left:10px;
	float:left;
	width:160px;
	height:200px;
}

#descriptif_film_descriptif {
	float:left;
	display:block;
	width:55%;
	margin-bottom:10px;
}

#descriptif_film_ajout {
	float:left;
	width:17%;
}

#descriptif_film_resume {
	margin-left:10px;
	float:left;
	display:block;
	width:100%;
}

#descriptif_film_descriptif h3 {
	margin-top:0px;
	margin-bottom:5px;
	font-style:italic;
	color:#6589D6;
}

.intitule {
	display:inline;
	color:#888888;
}

#intro {
	width:95%;
	margin:auto;
	margin-bottom:10px;
}

#form_recherche {
	width:90%;
	margin:auto;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#form_recherche legend {
	font-style:italic;
	color:#4D4D4D;
}

.type_recherche {
	margin-top:5px;
	margin-bottom:5px;
}

.type_recherche h3{
	margin-top:0px;
	margin-bottom:5px;
	color:#6589D6;
	font-size:17px;
}

.label_recherche {
	display: block;
	width: 150px;
	float: left;
	color:#4D4D4D;
}

#form_recherche_boutons {
	width:400px;
	height:50px;
	margin:auto;
}

#form_recherche_boutons #recherche_reset_bouton {
	margin-top:10px;
	float:left;
}

#form_recherche_boutons #recherche_submit_bouton {
	margin-top:10px;
	float:right;
	width:150px;
}

.grand_champ {
	width:200px;
}

.petit_champ {
	width:140px;
}