body {
	background-color : #276e8a;
	background-image : url(../images/fond.jpg);
	background-repeat :repeat-x;
}

#header {
	width : 900px;
	margin : auto;
	padding-bottom : 8px;
}

#banniere {
	margin : auto;
	width : 900px;
	height : 150px;
	min-height : 50px;
	margin-bottom :15px;
	color : grey;
	border : none;    
	-moz-box-shadow : 1px 1px 12px #555;   
	-webkit-box-shadow : 1px 1px 12px #555;
	-moz-border-radius : 15px;
	box-shadow : 1px 1px 12px #555; 
	/* pour IE */
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#666666, Direction=135, Strength=3); 
	zoom: 1;
	font-family : Arial;
}

#titre {
	width : 600px;
	height : 50px;
	margin-left : 40px;
	padding-top : 20px;
}

#auteur {
	width : 600px;
	height : 30px;
	margin-left : 80px;
}

#menu {
	padding-left : 10px;
	margin : auto;
	width : 98%;
	height:20px;
    font-weight : bold; /* on met le texte en gras */
    font-family : Arial; /* on utilise Arial, c'est plus beau ^^ */
    font-size : 12px; /* hauteur du texte : 12 pixels */
}

#menu ul {
	padding : 0; /* pas de marge intérieure */
    margin : 0; /* ni extérieure */
    list-style : none; /* on supprime le style par défaut de la liste */
    line-height : 21px; /* on définit une hauteur pour chaque élément */
    text-align : center; /* on centre le texte qui se trouve dans la liste */
}


#menu a { /* Contenu des listes */
	display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
    padding-left : 47px; /* aucune marge intérieure */
	padding-right : 47px;
    background : #276e8a; /* couleur de fond */        
    color : #fff; /* couleur du texte */
    text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
    width : 80px; /* largeur */
}

#menu li { /* Éléments des listes */      
    float : left; 
    /* pour IE qui ne reconnaît pas "transparent" */
    border-right : 1px solid #fff; /* on met une bordure blanche à droite de chaque élément */
}

#menu a:hover  {/* Lorsque la souris passe sur un des liens */    
    color: #276e8a; /* On passe le texte en noir... */
    background: #fff; /* ... et au contraire, le fond en blanc */
}

#conteneur_general {
	margin-top:5px;
	margin-right : auto;
	margin-left : auto;
	width : 900px;
	height : 500px;
}

#conteneur_principal {
	float:left;
	width:650px;
	height:500px;
}

#conteneur_gauche {
	float:left;
	width:250px;
	height:500px;
}

#conteneur_identification {
	margin-left:auto;
	width:230px;
	height:180px;
}

#conteneur_panier {
	margin-left:auto;
	margin-top:10px;
	width:230px;
	height:180px;
}

.conteneur {
	background:#FFFFFF;
	min-height : 30px;
	border: none; 
	text-align:center;
	-moz-box-shadow: 1px 1px 12px #555;   
	-webkit-box-shadow: 1px 1px 12px #555;  
	box-shadow: 1px 1px 12px #555;
	-moz-border-radius: 15px;	
   filter:progid:DXImageTransform.Microsoft.Shadow(color=#666666, Direction=135, Strength=3); 
   zoom: 1;
   overflow: auto;
}

#footer{
	margin-right : auto;
	margin-left : auto;
	width : 900px;
	min-height : 30px;
	margin-top : 10px;
	border: none; 
	text-align:center;
	-moz-box-shadow: 1px 1px 12px #555;   
	-webkit-box-shadow: 1px 1px 12px #555;  
	box-shadow: 1px 1px 12px #555;
	-moz-border-radius: 15px;	
	/* pour IE */

   filter:progid:DXImageTransform.Microsoft.Shadow(color=#666666, Direction=135, Strength=3); 

   zoom: 1;
   overflow: auto;
}

#footer_texte {
	padding-top : 10px;
	margin : auto;
	font-family : Calibri;
	font-size : 12px;
}

table{
	width: 800px;
	margin-top : 20px; /* Centre le tableau */
	margin-left:auto;
	margin-right:auto;
	border: 3px solid #f3f7fa; /* Bordure du tableau avec effet 3D (outset) */
	border-collapse: collapse; /* Colle les bordures entre elles */
	text-align:center;
}

th{
	background-color :  #f3f7fa;
}


td {
	padding-left:20px;
	padding-right:20px;
	border: 3px solid #f3f7fa;
}
