body {
	background-color : #276e8a;
	background-image : url(../images/fond.jpg);
	background-repeat :repeat-x;
}

#header {
	width : 900px;
	margin : auto;
	padding-bottom : 8px;
}

#banniere {
	margin : auto;
	width : 900px;
	height : 150px;
	min-height : 50px;
	margin-bottom :15px;
	color : grey;
	border : none;    
	-moz-box-shadow : 1px 1px 12px #555;   
	-webkit-box-shadow : 1px 1px 12px #555;
	-moz-border-radius : 5px;
	box-shadow : 1px 1px 12px #555; 
	/* pour IE */
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#666666, Direction=135, Strength=3); 
	zoom: 1;
	font-family : Arial;
	background-image : url(../images/bannière.jpg);
}

#titre {
	width : 600px;
	height : 50px;
	margin-left : 40px;
	padding-top : 20px;
}

#auteur {
	width : 600px;
	height : 30px;
	margin-left : 80px;
}

#menu {
	padding-left : 10px;
	margin : auto;
	width : 98%;
	height:28px;
    font-weight : bold; /* on met le texte en gras */
    font-family : Arial; /* on utilise Arial, c'est plus beau ^^ */
    font-size : 12px; /* hauteur du texte : 12 pixels */
}

#menu ul {
	padding : 0; /* pas de marge intérieure */
    margin : 0; /* ni extérieure */
    list-style : none; /* on supprime le style par défaut de la liste */
    line-height : 28px; /* on définit une hauteur pour chaque élément */
    text-align : center; /* on centre le texte qui se trouve dans la liste */
}


#menu a { /* Contenu des listes */
	display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
    padding-left : 47px; /* aucune marge intérieure */
	padding-right : 47px;
    background : #276e8a; /* couleur de fond */        
    color : #fff; /* couleur du texte */
    text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
    width : 80px; /* largeur */
}

#menu li { /* éléments des listes */      
    float : left; 
    /* pour IE qui ne reconnait pas "transparent" */
    border-right : 1px solid #fff; /* on met une bordure blanche à droite de chaque élément */
}

#menu a:hover  {/* Lorsque la souris passe sur un des liens */    
    color: #276e8a; /* On passe le texte en noir... */
    background: #fff; /* ... et au contraire, le fond en blanc */
}

#conteneur_general {
	margin-top:15px;
	margin-right : auto;
	margin-left : auto;
	width : 900px;
}

#conteneur_principal {
	float:left;
	width:650px;
}

#conteneur_gauche {
	float:left;
	width:250px;
}

#conteneur_identification {
	margin-left:auto;
	width:230px;
	margin-bottom:20px;
}

#conteneur_panier {
	margin-left:auto;
	width:230px;
}

.conteneur {
	background-image:url(../images/container.png);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	border: none;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	-moz-box-shadow: 1px 1px 12px #555;   
	-webkit-box-shadow: 1px 1px 12px #555;  
	box-shadow: 1px 1px 12px #555;
	-moz-border-radius: 5px;	
   filter:progid:DXImageTransform.Microsoft.Shadow(color=#666666, Direction=135, Strength=3); 
}

.titre {
    position: relative;
	top:-10px;
    left: 10px;
    width:100%;
    height:30px;
}

.titre h2 {
    font-family: 'Anton', Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #EEE;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px black;
    letter-spacing: 0.05em;
}

h2 {
	display: block;
	font-size: 1.5em;
	margin-top:0px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

#footer{
	margin-right : auto;
	margin-left : auto;
	width : 900px;
	min-height : 30px;
	margin-top : 10px;
	border: none; 
	text-align:center;
	-moz-box-shadow: 1px 1px 12px #555;   
	-webkit-box-shadow: 1px 1px 12px #555;  
	box-shadow: 1px 1px 12px #555;
	-moz-border-radius: 15px;	
	/* pour IE */

   filter:progid:DXImageTransform.Microsoft.Shadow(color=#666666, Direction=135, Strength=3); 

   zoom: 1;
   overflow: auto;
}

#footer_texte {
	padding-top : 10px;
	margin : auto;
	font-family : Calibri;
	font-size : 12px;
}

.blank{   
    font-size:0px;
    clear:both;
    line-height:0px;
}

#pass_js,#nom_js,#numFilm_js , #numFilm1_js , #numFilm2_js , #numFilm3_js , #numExemplaire_js {
	margin-left:15px;
	color:	#FF0000;
	font-size:12px;
}

